<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.makro.mall.admin.mapper.MmColorMapper">

    <resultMap id="BaseResultMap" type="com.makro.mall.admin.pojo.entity.MmColor">
        <result property="id" column="ID" jdbcType="DECIMAL"/>
        <result property="sort" column="SORT" jdbcType="DECIMAL"/>
        <result property="status" column="STATUS" jdbcType="DECIMAL"/>
        <result property="rgb" column="RGB" jdbcType="VARCHAR"/>
        <result property="cmyk" column="CMYK" jdbcType="VARCHAR"/>
        <result property="hex" column="HEX" jdbcType="VARCHAR"/>
        <result property="gmtCreate" column="GMT_CREATE" jdbcType="TIMESTAMP"/>
        <result property="gmtModified" column="GMT_MODIFIED" jdbcType="TIMESTAMP"/>
        <result property="lastUpdater" column="LAST_UPDATER" jdbcType="VARCHAR"/>
        <result property="creator" column="CREATOR" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,RGB,CMYK,SORT,STATUS,HEX
        GMT_CREATE,GMT_MODIFIED,LAST_UPDATER,
        CREATOR
    </sql>
</mapper>
