<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.makro.mall.admin.mapper.MmTopicDetailMapper">

    <resultMap id="BaseResultMap" type="com.makro.mall.admin.pojo.entity.MmTopicDetail">
        <id property="id" column="ID" jdbcType="DECIMAL"/>
        <result property="topicId" column="TOPIC_ID" jdbcType="DECIMAL"/>
        <result property="creator" column="CREATOR" jdbcType="VARCHAR"/>
        <result property="content" column="CONTENT" jdbcType="VARCHAR"/>
        <result property="status" column="STATUS" jdbcType="DECIMAL"/>
        <result property="gmtCreate" column="GMT_CREATE" jdbcType="TIMESTAMP"/>
        <result property="gmtModified" column="GMT_MODIFIED" jdbcType="TIMESTAMP"/>
        <result property="deleted" column="DELETED" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID
        ,TOPIC_ID,CREATOR,
        CONTENT,STATUS,GMT_CREATE,
        GMT_MODIFIED,
        DELETED
    </sql>
</mapper>
