<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.makro.mall.file.mapper.MmMailTypeMapper">

    <resultMap id="BaseResultMap" type="com.makro.mall.file.pojo.entity.MmMailType">
        <id property="id" column="ID" jdbcType="DECIMAL"/>
        <result property="name" column="NAME" jdbcType="VARCHAR"/>
        <result property="remark" column="REMARK" jdbcType="VARCHAR"/>
        <result property="gmtCreate" column="GMT_CREATE" jdbcType="TIMESTAMP"/>
        <result property="gmtModified" column="GMT_MODIFIED" jdbcType="TIMESTAMP"/>
        <result property="creator" column="CREATOR" jdbcType="VARCHAR"/>
        <result property="lastUpdater" column="LAST_UPDATER" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID
        ,NAME,REMARK,
        GMT_CREATE,GMT_MODIFIED,CREATOR,
        LAST_UPDATER
    </sql>
</mapper>
