<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.makro.mall.stat.mapper.AverageVisitorVisitsMapper">

    <resultMap id="BaseResultMap" type="com.makro.mall.stat.pojo.snapshot.AverageVisitorVisits">
        <result property="mmCode" column="mm_code" jdbcType="OTHER"/>
        <result property="channel" column="channel" jdbcType="OTHER"/>
        <result property="pvDivideMv" column="pv_divide_mv" jdbcType="OTHER"/>
        <result property="date" column="date" jdbcType="DATE"/>
    </resultMap>

    <sql id="Base_Column_List">
        mm_code
        ,channel,pv_divide_mv,
        date
    </sql>
    <insert id="saveVisitorClicksOnProduct">
        INSERT INTO
        average_visitor_visits
        VALUES
        <foreach collection="list" item="x" separator=",">
            (
            #{x.mmCode},
            #{channel},
            #{x.pvDivideMv},
            ${s}
            )
        </foreach>
    </insert>
    <select id="list" resultType="com.makro.mall.stat.pojo.snapshot.AverageVisitorVisits">
        SELECT
        <include refid="Base_Column_List"/>
        FROM average_visitor_visits WHERE date ${sql} AND mm_code=#{mmCode}
    </select>
    <select id="hasTimeData" resultType="java.lang.Boolean">
        SELECT 1
        from average_visitor_visits
        where date = ${time}
            limit 1
    </select>
</mapper>
