<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.makro.mall.stat.mapper.SystemUserLogMapper">

    <resultMap id="BaseResultMap" type="com.makro.mall.stat.pojo.entity.SystemUserLog">
            <result property="type" column="type" jdbcType="OTHER"/>
            <result property="userId" column="user_id" jdbcType="OTHER"/>
            <result property="userName" column="user_name" jdbcType="OTHER"/>
            <result property="userIp" column="user_ip" jdbcType="OTHER"/>
            <result property="content" column="content" jdbcType="OTHER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        type,user_id,user_name,
        user_ip,content,create_time
    </sql>
</mapper>
