<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.makro.mall.product.mapper.ProdPriceMapper">

    <resultMap id="BaseResultMap" type="com.makro.mall.product.pojo.entity.ProdPrice">
        <id property="id" column="ID" jdbcType="VARCHAR"/>
        <result property="mmCode" column="MM_CODE" jdbcType="VARCHAR"/>
        <result property="dataid" column="DATAID" jdbcType="VARCHAR"/>
        <result property="normalprice" column="NORMALPRICE" jdbcType="DECIMAL"/>
        <result property="promoprice" column="PROMOPRICE" jdbcType="DECIMAL"/>
        <result property="storecode" column="STORECODE" jdbcType="VARCHAR"/>
        <result property="itemcode" column="ITEMCODE" jdbcType="VARCHAR"/>
        <result property="isvalid" column="ISVALID" jdbcType="INTEGER"/>
        <result property="creator" column="CREATOR" jdbcType="VARCHAR"/>
        <result property="gmtCreate" column="GMT_CREATE" jdbcType="TIMESTAMP"/>
        <result property="gmtModified" column="GMT_MODIFIED" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID
        ,MM_CODE,DATAID,ITEMCODE,ISVALID,
        NORMALPRICE,PROMOPRICE,STORECODE,GMT_CREATE,GMT_MODIFIED,CREATOR
    </sql>
</mapper>
