<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.makro.mall.product.mapper.ProdPicMapper">

    <resultMap id="BaseResultMap" type="com.makro.mall.product.pojo.entity.ProdPic">
        <id property="id" column="ID" jdbcType="DECIMAL"/>
        <result property="itemCode" column="ITEM_CODE" jdbcType="VARCHAR"/>
        <result property="filePath" column="FILE_PATH" jdbcType="VARCHAR"/>
        <result property="creator" column="CREATOR" jdbcType="VARCHAR"/>
        <result property="lastUpdater" column="LAST_UPDATER" jdbcType="VARCHAR"/>
        <result property="defaulted" column="DEFAULTED" jdbcType="DECIMAL"/>
        <result property="gmtCreate" column="GMT_CREATE" jdbcType="TIMESTAMP"/>
        <result property="gmtModified" column="GMT_MODIFIED" jdbcType="TIMESTAMP"/>
        <result property="temp" column="TEMP" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID
        ,ITEM_CODE,FILE_PATH,
        CREATOR,LAST_UPDATER,DEFAULTED,
        GMT_CREATE,GMT_MODIFIED,TEMP
    </sql>
</mapper>
