<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.makro.mall.product.mapper.ProdTemplateDetailsMapper">

    <resultMap id="BaseResultMap" type="com.makro.mall.product.pojo.entity.ProdTemplateDetails">
        <id property="id" column="ID" jdbcType="VARCHAR"/>
        <result property="buyerid" column="BUYERID" jdbcType="VARCHAR"/>
        <result property="joint" column="JOINT" jdbcType="VARCHAR"/>
        <result property="othermail" column="OTHERMAIL" jdbcType="VARCHAR"/>
        <result property="multibuy" column="MULTIBUY" jdbcType="VARCHAR"/>
        <result property="itemcode" column="ITEMCODE" jdbcType="VARCHAR"/>
        <result property="namethai" column="NAMETHAI" jdbcType="VARCHAR"/>
        <result property="nameeng" column="NAMEENG" jdbcType="VARCHAR"/>
        <result property="photoref" column="PHOTOREF" jdbcType="VARCHAR"/>
        <result property="normalprice" column="NORMALPRICE" jdbcType="DECIMAL"/>
        <result property="promoprice" column="PROMOPRICE" jdbcType="DECIMAL"/>
        <result property="promopriceeco" column="PROMOPRICEECO" jdbcType="DECIMAL"/>
        <result property="locationexception" column="LOCATIONEXCEPTION" jdbcType="VARCHAR"/>
        <result property="priceexception" column="PRICEEXCEPTION" jdbcType="VARCHAR"/>
        <result property="remark" column="REMARK" jdbcType="VARCHAR"/>
        <result property="profitclassic" column="PROFITCLASSIC" jdbcType="VARCHAR"/>
        <result property="profiteco" column="PROFITECO" jdbcType="VARCHAR"/>
        <result property="unitpack" column="UNITPACK" jdbcType="DECIMAL"/>
        <result property="priceunit" column="PRICEUNIT" jdbcType="DECIMAL"/>
        <result property="salesqty" column="SALESQTY" jdbcType="DECIMAL"/>
        <result property="cost" column="COST" jdbcType="DECIMAL"/>
        <result property="price" column="PRICE" jdbcType="DECIMAL"/>
        <result property="profitlost" column="PROFITLOST" jdbcType="DECIMAL"/>
        <result property="margin" column="MARGIN" jdbcType="DECIMAL"/>
        <result property="creator" column="CREATOR" jdbcType="VARCHAR"/>
        <result property="infoid" column="INFOID" jdbcType="DECIMAL"/>
        <result property="isvalid" column="ISVALID" jdbcType="INTEGER"/>
        <result property="categoryid" column="CATEGORYID" jdbcType="DECIMAL"/>
        <result property="dataid" column="DATAID" jdbcType="VARCHAR"/>
        <result property="gmtCreate" column="GMT_CREATE" jdbcType="TIMESTAMP"/>
        <result property="gmtModified" column="GMT_MODIFIED" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID
        ,BUYERID,JOINT,
        OTHERMAIL,MULTIBUY,ITEMCODE,
        NAMETHAI,NAMEENG,PHOTOREF,
        NORMALPRICE,PROMOPRICECLASSIC,PROMOPRICEECO,
        LOCATIONEXCEPTION,PRICEEXCEPTION,REMARK,
        PROFITCLASSIC,PROFITECO,UNITPACK,
        PRICEUNIT,SALESQTY,COST,
        PRICE,PROFITLOST,MARGIN,
        CREATOR,INFOID,MM_CODE,ISVALID
        CATEGORYID,DETAILID,GMT_CREATE,GMT_MODIFIED
    </sql>
</mapper>
